In [136]:
# imports
import category_encoders as ce
import pandas as pd
from sklearn import metrics
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.pipeline import make_pipeline
from sklearn.tree import DecisionTreeRegressor
from sklearn.utils import shuffle

In [115]:
# load in dataset
df = pd.read_csv('MLB-Stats.csv')
print(df.shape)
df.head()

(28293, 28)

,playerID,Player Name,weight,height,bats,throws,Season,League,teamID,Team,...,RBI,SB,BB,SO,salary,IBB,HBP,SH,SF,PA
0,aardsda01,David Aardsma,215,75,R,R,2004,NL,SFN,San Francisco Giants,...,0,0,0,0,300000,0,0,0,0,0
1,aardsda01,David Aardsma,215,75,R,R,2007,AL,CHA,Chicago White Sox,...,0,0,0,0,387500,0,0,0,0,0
2,aardsda01,David Aardsma,215,75,R,R,2008,AL,BOS,Boston Red Sox,...,0,0,0,1,403250,0,0,0,0,1
3,aardsda01,David Aardsma,215,75,R,R,2009,AL,SEA,Seattle Mariners,...,0,0,0,0,419000,0,0,0,0,0
4,aardsda01,David Aardsma,215,75,R,R,2012,AL,NYA,New York Yankees,...,0,0,0,0,500000,0,0,0,0,0

In [116]:
# check for any missing data
df.isnull().sum()

playerID       0
Player Name    0
weight         0
height         0
bats           0
throws         0
Season         0
League         0
teamID         0
Team           0
Franchise      0
G              0
AB             0
R              0
H              0
2B             0
3B             0
HR             0
RBI            0
SB             0
BB             0
SO             0
salary         0
IBB            0
HBP            0
SH             0
SF             0
PA             0
dtype: int64

In [117]:
# data exploration
df.describe().T

,count,mean,std,min,25%,50%,75%,max
weight,28293.0,1.990493e+02,2.265398e+01,140.0,185.0,195.0,215.0,315.0
height,28293.0,7.350019e+01,2.286595e+00,66.0,72.0,74.0,75.0,83.0
Season,28293.0,2.000938e+03,8.900551e+00,1985.0,1994.0,2001.0,2009.0,2016.0
G,28293.0,6.393387e+01,4.728526e+01,1.0,26.0,50.0,101.0,163.0
AB,28293.0,1.618799e+02,1.994066e+02,0.0,1.0,57.0,298.0,716.0
R,28293.0,2.178684e+01,3.013390e+01,0.0,0.0,4.0,37.0,152.0
H,28293.0,4.262454e+01,5.620091e+01,0.0,0.0,10.0,76.0,262.0
2B,28293.0,8.220655e+00,1.140145e+01,0.0,0.0,2.0,14.0,59.0
3B,28293.0,9.091648e-01,1.832408e+00,0.0,0.0,0.0,1.0,23.0
HR,28293.0,4.776977e+00,8.384449e+00,0.0,0.0,0.0,6.0,73.0
RBI,28293.0,2.078376e+01,2.970482e+01,0.0,0.0,4.0,34.0,165.0
SB,28293.0,3.107518e+00,7.494805e+00,0.0,0.0,0.0,2.0,110.0
BB,28293.0,1.580172e+01,2.303636e+01,0.0,0.0,3.0,25.0,232.0
SO,28293.0,3.037624e+01,3.762416e+01,0.0,0.0,15.0,50.0,223.0
salary,28293.0,2.112965e+06,3.440239e+06,10900.0,300000.0,600000.0,2425000.0,33000000.0
IBB,28293.0,1.326052e+00,3.160607e+00,0.0,0.0,0.0,1.0,120.0
HBP,28293.0,1.450642e+00,2.782354e+00,0.0,0.0,0.0,2.0,35.0
SH,28293.0,1.534549e+00,2.748349e+00,0.0,0.0,0.0,2.0,39.0
SF,28293.0,1.366911e+00,2.207801e+00,0.0,0.0,0.0,2.0,17.0
PA,28293.0,1.833598e+02,2.262174e+02,0.0,1.0,66.0,337.0,783.0

In [118]:
# interesting stat ideas
# avg salary by year - shows growth in cap, inflation
# total salary per team by year
# how has this changed since moneyball, statistics used to determine best value players?

In [119]:
# change column names from abbreviations to full names to help with domain knowledge
df = df.rename(columns={'G': 'Games_Played', 'AB': 'At_bats', 'R': 'Runs', 'H': 'Hits',
                   '2B': 'Doubles', '3B': 'Triples', 'HR': 'Home_Runs', 'SB': 'Stolen_Base',
                   'BB': 'Walk', 'SO': 'Strikeouts', 'IBB': 'Intentional_Walk', 'HBP': 'Hit_By_Pitch',
                   'SH': 'Sacrifice_Bunt', 'SF': 'Sacrifice_Fly', 'PA': 'Plate_Appearance'})
df.columns

Index(['playerID', 'Player Name', 'weight', 'height', 'bats', 'throws',
       'Season', 'League', 'teamID', 'Team', 'Franchise', 'Games_Played',
       'At_bats', 'Runs', 'Hits', 'Doubles', 'Triples', 'Home_Runs', 'RBI',
       'Stolen_Base', 'Walk', 'Strikeouts', 'salary', 'Intentional_Walk',
       'Hit_By_Pitch', 'Sacrifice_Bunt', 'Sacrifice_Fly', 'Plate_Appearance'],
      dtype='object')

In [120]:
# how frequently a batter reaches base per plate appearance
# times on base include hits, walks and hit-by-pitches
df['On_Base_Percentage'] = (df['Hits'] + df['Walk'] + df['Hit_By_Pitch']) / df['Plate_Appearance']
df['On_Base_Percentage'] = df['On_Base_Percentage'].fillna(0)

In [121]:
# batting average - hits divided by total at-bats
df['AVG'] = df['Hits'] / df['At_bats']
df['AVG'] = df['AVG'].fillna(0)

In [122]:
# how stats are changing from season to season?
# the average weight of players has increased from 187 in 1985 to 212 in 2016
# the average salary of players has increased from 479k in 1985 to 4.49m in 2016
df.groupby('Season').mean()

,weight,height,Games_Played,At_bats,Runs,Hits,Doubles,Triples,Home_Runs,RBI,...,Walk,Strikeouts,salary,Intentional_Walk,Hit_By_Pitch,Sacrifice_Bunt,Sacrifice_Fly,Plate_Appearance,On_Base_Percentage,AVG
Season,,,,,,,,,,,,,,,,,,,,,
1985,187.022530,73.318891,77.838821,209.284229,27.003466,54.677643,9.636049,1.417678,5.532062,25.902946,...,20.611785,31.521664,4.799501e+05,2.029463,1.025997,2.091854,1.738302,236.781629,0.217251,0.173327
1986,187.722581,73.329032,69.200000,177.620645,23.233548,46.061935,8.147097,1.078710,4.846452,21.867097,...,17.794839,30.476129,4.180652e+05,1.621935,1.014194,1.840000,1.450323,201.341935,0.208224,0.165531
1987,187.481426,73.300149,70.114413,184.178306,25.619614,48.945022,8.750371,1.120357,5.912333,24.438336,...,18.870728,31.603269,4.315243e+05,1.786033,1.084695,1.763744,1.435364,209.118871,0.214620,0.174368
1988,187.520509,73.333805,69.878359,186.203678,22.768034,47.612447,8.435644,1.097595,4.256011,21.555870,...,17.260255,30.178218,4.613403e+05,1.850071,1.210750,2.052334,1.676096,210.253182,0.206076,0.164955
1989,187.988281,73.351562,68.520833,177.423177,21.764323,45.528646,7.893229,1.096354,3.899740,20.391927,...,16.884115,29.031250,5.043765e+05,1.835938,0.996094,1.972656,1.545573,200.657552,0.208437,0.168494
1990,187.771300,73.357623,59.614350,149.899103,18.848655,38.823991,6.903587,0.913677,3.489910,17.822870,...,14.523543,24.705157,5.296594e+05,1.467489,0.903587,1.627803,1.354260,169.775785,0.189931,0.154104
1991,188.782730,73.427577,68.036212,171.235376,21.883008,44.153203,7.922006,1.101671,4.186630,20.934540,...,16.891365,28.504178,8.866946e+05,1.543175,1.086351,1.917827,1.540390,194.214485,0.201263,0.158360
1992,189.168553,73.398742,66.166038,167.240252,20.522013,43.031447,7.801258,0.987421,3.664151,19.323270,...,16.277987,27.106918,1.078035e+06,1.615094,1.161006,1.835220,1.535849,189.665409,0.200073,0.161265
1993,190.160696,73.430911,60.757421,153.820880,20.761515,40.990788,7.401228,0.930399,4.038895,19.612078,...,15.035824,25.765609,9.904447e+05,1.507677,1.189355,1.788127,1.442170,174.784033,0.199621,0.164202
1994,189.707453,73.446051,47.309232,121.113459,17.332592,32.766407,6.303671,0.774194,3.655172,16.433815,...,12.260289,21.595106,1.043881e+06,1.120133,0.967742,1.312570,1.091212,137.865406,0.206635,0.170515
1995,190.259124,73.331204,51.138686,125.310219,17.749088,33.520985,6.321168,0.749088,3.711679,16.742701,...,12.915146,22.961679,9.695389e+05,1.007299,1.108577,1.335766,1.073905,142.750912,0.199491,0.161555
1996,191.532417,73.457760,60.835953,151.282908,22.095285,40.917485,7.707269,0.821218,4.846758,20.936149,...,15.659136,28.226916,1.004264e+06,1.313360,1.354617,1.473477,1.353635,172.437132,0.204341,0.162434
1997,191.589339,73.394867,60.513327,149.704837,20.860809,40.074038,7.742349,0.851925,4.512340,19.837117,...,15.156960,28.700888,1.224190e+06,1.144126,1.397828,1.498519,1.347483,170.249753,0.207302,0.166601
1998,193.415905,73.505484,60.786106,151.062157,21.067642,40.344607,7.945155,0.807130,4.602377,20.061243,...,14.925960,28.621572,1.310546e+06,0.973492,1.440585,1.524680,1.270567,171.197441,0.209886,0.168536
1999,194.189316,73.516401,62.298032,154.055295,22.838800,41.929709,8.080600,0.867854,5.118088,21.703843,...,16.565136,28.505155,1.481934e+06,1.040300,1.454545,1.463918,1.364574,175.943768,0.218224,0.171865
2000,194.255914,73.430108,64.225806,163.298925,24.644086,44.562366,8.810753,0.924731,5.709677,23.532258,...,18.204301,30.158065,1.972073e+06,1.232258,1.523656,1.508602,1.500000,187.267742,0.221370,0.176028
2001,195.727869,73.471038,64.830601,165.549727,23.336612,44.029508,8.898361,0.918033,5.563934,22.344262,...,16.009836,31.806557,2.243064e+06,1.445902,1.920219,1.535519,1.426230,187.887432,0.209855,0.169371
2002,197.322835,73.403825,67.101237,169.364454,23.102362,44.496063,8.970754,0.924634,5.257593,22.032621,...,16.933633,31.605174,2.404902e+06,1.556805,1.811024,1.616423,1.446569,192.728909,0.208105,0.168022
2003,198.719866,73.415179,65.898438,167.073661,23.172991,44.439732,8.950893,0.922991,5.333705,22.358259,...,16.308036,30.296875,2.547126e+06,1.402902,1.853795,1.531250,1.369420,189.539062,0.211648,0.169530
2004,201.093501,73.457241,66.684151,170.443558,24.122007,45.744584,9.173318,0.904219,5.698974,23.067275,...,16.835804,31.708096,2.496285e+06,1.462942,1.879133,1.693273,1.427594,193.742303,0.203543,0.164840
2005,202.229545,73.515909,66.604545,170.142045,22.963636,45.292045,9.167045,0.913636,5.220455,22.030682,...,15.775000,30.854545,2.663563e+06,1.289773,1.821591,1.592045,1.365909,191.986364,0.203313,0.167530
2006,205.283680,73.516977,64.268346,164.636364,23.417306,44.587076,9.059146,0.916758,5.405257,22.409639,...,15.773275,30.554217,2.819109e+06,1.427163,1.782037,1.559693,1.399781,186.578313,0.207325,0.168112
2007,207.568409,73.618465,66.367075,166.718576,23.190211,44.864294,9.209121,0.896552,5.000000,22.301446,...,16.200222,31.205784,2.929833e+06,1.389321,1.779755,1.443826,1.440489,188.972191,0.204286,0.165431
2008,209.572717,73.626832,65.816234,166.556933,22.755355,44.210823,9.057497,0.875986,5.002255,21.813980,...,16.594138,31.924464,3.256861e+06,1.381060,1.680947,1.438557,1.383315,189.034949,0.197342,0.156260
2009,211.506818,73.677273,65.713636,167.712500,22.934091,44.389773,8.942045,0.934091,5.254545,22.096591,...,17.084091,33.286364,3.334098e+06,1.247727,1.626136,1.529545,1.397727,190.597727,0.195330,0.154018
2010,212.698974,73.688712,65.257697,163.779932,21.344356,42.480046,8.460661,0.838084,4.716078,20.415051,...,15.797035,33.283922,3.421453e+06,1.253136,1.576967,1.466363,1.327252,185.200684,0.196829,0.156649
2011,214.497162,73.727582,65.036322,164.198638,20.797957,42.154370,8.405221,0.862656,4.720772,20.143019,...,15.220204,33.633371,3.348785e+06,1.289444,1.550511,1.594779,1.313280,185.166856,0.194970,0.155708
2012,213.875413,73.638368,64.015436,159.477398,20.458655,40.879824,8.079383,0.856670,4.864388,19.617420,...,14.443219,34.367144,3.554071e+06,1.077178,1.448732,1.330761,1.191841,178.969129,0.188306,0.151540
2013,213.642377,73.687220,63.825112,160.839686,19.894619,41.099776,8.021300,0.744395,4.654709,19.086323,...,14.505605,34.766816,3.689995e+06,1.049327,1.529148,1.275785,1.215247,180.414798,0.185524,0.146939
2014,213.336735,73.637188,65.841270,165.766440,19.918367,41.911565,8.260771,0.829932,4.294785,19.106576,...,14.329932,36.890023,3.996560e+06,1.044218,1.691610,1.223356,1.320862,185.376417,0.190232,0.151695
2015,213.208061,73.645969,62.740741,155.618736,19.471678,39.782135,7.798475,0.843137,4.649237,18.617647,...,13.410675,34.167756,4.418232e+06,0.959695,1.527233,1.023965,1.202614,173.742919,0.183475,0.147649
2016,212.538291,73.796892,64.120977,160.467259,21.371809,41.322974,8.071032,0.823529,5.592675,20.448391,...,14.952275,37.254162,4.492526e+06,0.955605,1.630411,0.890122,1.183130,180.078801,0.184884,0.146238

In [123]:
# TODO - get the sum of each teams salaries for each season
# this is only for hitters not for pitchers?
df.groupby(['Season', 'Team']).sum()

                             weight  height  Games_Played  At_bats  Runs  \
Season Team
1985   Atlanta Braves          3964    1540          1767     4551   513
       Baltimore Orioles       4291    1679          1911     5163   783
       Boston Red Sox          4511    1763          1818     5185   726
       California Angels       4792    1904          1848     4826   646
       Chicago Cubs            4312    1700          1880     4823   603
...                             ...     ...           ...      ...   ...
2016   St. Louis Cardinals     6150    2129          2155     5046   699
       Tampa Bay Rays          6767    2355          1882     4722   596
       Texas Rangers           6816    2356          1770     4492   645
       Toronto Blue Jays       7542    2650          2227     5398   747
       Washington Nationals    5977    2005          2021     4992   683

                             Hits  Doubles  Triples  Home_Runs  RBI  ...  \
Season Team                                                          ...
1985   Atlanta Braves        1131      179       21        119  540  ...
       Baltimore Orioles     1389      226       22        207  747  ...
       Boston Red Sox        1478      270       28        151  712  ...
       California Angels     1210      192       27        133  608  ...
       Chicago Cubs          1252      213       23        141  588  ...
...                           ...      ...      ...        ...  ...  ...
2016   St. Louis Cardinals   1272      267       29        208  675  ...
       Tampa Bay Rays        1167      250       30        197  570  ...
       Texas Rangers         1189      227       17        184  630  ...
       Toronto Blue Jays     1348      271       18        220  725  ...
       Washington Nationals  1252      244       20        185  674  ...

                             Walk  Strikeouts     salary  Intentional_Walk  \
Season Team
1985   Atlanta Braves         452         659   14032000                50
       Baltimore Orioles      574         847   12073212                30
       Boston Red Sox         517         726   10762227                38
       California Angels      608         810   13191227                47
       Chicago Cubs           524         812   13227917                58
...                           ...         ...        ...               ...
2016   St. Louis Cardinals    481        1239  136369500                22
       Tampa Bay Rays         400        1250   66454510                18
       Texas Rangers          350         974  180190323                22
       Toronto Blue Jays      626        1331  191463367                16
       Washington Nationals   502        1140  153733246                48

                             Hit_By_Pitch  Sacrifice_Bunt  Sacrifice_Fly  \
Season Team
1985   Atlanta Braves                  18              41             37
       Baltimore Orioles               17              28             38
       Boston Red Sox                  29              41             53
       California Angels               36              89             32
       Chicago Cubs                    13              56             34
...                                   ...             ...            ...
2016   St. Louis Cardinals             62              32             35
       Tampa Bay Rays                  63               9             24
       Texas Rangers                   59              12             30
       Toronto Blue Jays               53              26             40
       Washington Nationals            61              43             61

                             Plate_Appearance  On_Base_Percentage       AVG
Season Team
1985   Atlanta Braves                    5149            4.565430  3.695250
       Baltimore Orioles                 5850            5.177744  4.020885
       Boston Red Sox                    5863            4.552983  3.781367
       California Angels                 5638            4.119577  3.137721
       Chicago Cubs                      5508            5.686459  4.339344
...                                       ...                 ...       ...
2016   St. Louis Cardinals               5678            5.972454  4.774930
       Tampa Bay Rays                    5236            5.610928  4.448819
       Texas Rangers                     4965            6.005415  5.099080
       Toronto Blue Jays                 6159            5.481401  4.174236
       Washington Nationals              5707            5.931816  4.964794

[918 rows x 21 columns]

In [124]:
# TODO - predict the salary for a player based on their stats

In [125]:
# baseline
# how are we going to deal with a 10x increase in avg salary overtime?
# is there a way we could account for inflation?
# or could we just look one year

In [126]:
# average salary by year
avg_salary = pd.DataFrame(df['salary'].groupby(df['Season']).mean().astype(int))
avg_salary.columns = ['Avg_Salary']
avg_salary.head()

        Avg_Salary
Season
1985        479950
1986        418065
1987        431524
1988        461340
1989        504376

In [127]:
df = df.merge(avg_salary, how='inner', on='Season')

In [128]:
# mean absolute error
errors = df['Avg_Salary'] - df['salary']
mean_absolute_error = errors.abs().mean()
print(f"""If we just guessed a player's salary to be the average salary of a player
in that season it would be off by an average of ${mean_absolute_error:,.0f}""")

If we just guessed a player's salary to be the average salary of a player
in that season it would be off by an average of $2,031,353

In [129]:
df.columns

Index(['playerID', 'Player Name', 'weight', 'height', 'bats', 'throws',
       'Season', 'League', 'teamID', 'Team', 'Franchise', 'Games_Played',
       'At_bats', 'Runs', 'Hits', 'Doubles', 'Triples', 'Home_Runs', 'RBI',
       'Stolen_Base', 'Walk', 'Strikeouts', 'salary', 'Intentional_Walk',
       'Hit_By_Pitch', 'Sacrifice_Bunt', 'Sacrifice_Fly', 'Plate_Appearance',
       'On_Base_Percentage', 'AVG', 'Avg_Salary'],
      dtype='object')

In [130]:
# features
features = [
 'weight',
 'height',
 'Season',
 'League',
 'teamID',
 'Games_Played',
 'At_bats',
 'Runs',
 'Hits',
 'Doubles',
 'Triples',
 'Home_Runs',
 'RBI',
 'Stolen_Base',
 'Walk',
 'Strikeouts',
 'Intentional_Walk',
 'Hit_By_Pitch',
 'Sacrifice_Bunt',
 'Sacrifice_Fly',
 'Plate_Appearance',
 'On_Base_Percentage',
 'AVG']

# shuffle data
df = shuffle(df)
# drop target
y = df.pop('salary')
X = df

# train test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.25, random_state=42)

X_train.shape, X_val.shape, X_test.shape, y_train.shape, y_val.shape, y_test.shape

((16975, 30), (5659, 30), (5659, 30), (16975,), (5659,), (5659,))

In [131]:
pipeline = make_pipeline(
    ce.OneHotEncoder(use_cat_names=True),
    DecisionTreeRegressor())

# Fit on train
pipeline.fit(X_train, y_train)

y_pred = pipeline.predict(X_test)

print('Mean Absolute Error', metrics.mean_absolute_error(y_test, y_pred))

Mean Absolute Error 1579799.7997879484

In [133]:
pipeline = make_pipeline(
    ce.OneHotEncoder(use_cat_names=True),
    KNeighborsRegressor())

# Fit on train
pipeline.fit(X_train, y_train)

y_pred = pipeline.predict(X_test)

print('Mean Absolute Error', metrics.mean_absolute_error(y_test, y_pred))

Mean Absolute Error 1903506.6880014136

In [137]:
pipeline = make_pipeline(
    ce.OneHotEncoder(use_cat_names=True),
    RandomForestRegressor())

# Fit on train
pipeline.fit(X_train, y_train)

y_pred = pipeline.predict(X_test)

print('Mean Absolute Error', metrics.mean_absolute_error(y_test, y_pred))

/Users/josephbell/opt/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

Mean Absolute Error 1315363.4369667366